@import '../../assets/mixins/mixins';

.Skill {
  @include flexCenter(column);
  width: 12%;
  min-width: 150px;
  margin: 2em 0;
}

.Skill__Img {
  width: 65px;
  height: 65px;
  margin-bottom: 10px;
}

.Skill__Name {
  color: black;
  text-transform: uppercase;
}

@media (max-width: 812px) and (orientation: landscape) {
  .Skill__Img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
}

@media (max-width: 667px) and (orientation: landscape) {
  .Skill__Img {
    width: 45px;
    height: 45px;
    margin-bottom: 7px;
  }

  .Skill__Name {
    font-size: 1rem;
  }
}

@media (max-width: 601px) and (orientation: portrait) {
  .Skill__Img {
    width: 50px;
    height: 50px;
    margin-bottom: 7px;
  }

  .Skill__Name {
    font-size: 1.1rem;
  }
}

@media (max-width: 414px) and (orientation: portrait) {
  .Skill {
    margin: 0.75em 0;
  }
}
